<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726461962519-el2aj48crtolni02olpj5pudnms1k7ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726461962519-el2aj48crtolni02olpj5pudnms1k7ca</string>
	<key>API_KEY</key>
	<string>AIzaSyA5eP47dLr2JLv2RxlOzi0dRQl4kgCNEnI</string>
	<key>GCM_SENDER_ID</key>
	<string>726461962519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newChatApp</string>
	<key>PROJECT_ID</key>
	<string>news-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>news-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726461962519:ios:973f615c949e0c7bb73f52</string>
</dict>
</plist>